<header class="px-4 sm:px-6 lg:px-8"></header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <div class="">
      <.navigation current_user={@current_user} />
    </div>

    <%= @inner_content %>
    <.footer />
  </div>
</main>
