<header class="px-4 sm:px-6 lg:px-8"></header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <!--  <.system_navbar current_user={@current_user} />  -->
    <.navigation />
    <%= @inner_content %>
  </div>
</main>
